In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from mylib.lib import (
    read_dataset,
    generate_summary_statistics,
)
file_path = (
        "https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv"
)

In [8]:
# copy directly from the mylib/lib
# if import from lib, there is a testing error saying 
#  assert reference_output == test_output failed:
#   '<Figure size... with 1 Axes>' == '<Figure size... with 1 Axes>'
#   - <Figure size 800x600 with 1 Axes>
#   ?              ^^^ ^^^
#   + <Figure size 576x432 with 1 Axes>
#   ?              ^^^ ^^^
def create_save_visualization(df, column_name, save_filename=None, show=False):
    sns.set_theme(style="whitegrid")
    plt.figure(figsize=(8, 6))
    sns.histplot(df[column_name], kde=True, color="skyblue", bins=30)
    plt.title(f"{column_name} Distribution", fontsize=16)
    plt.xlabel(column_name, fontsize=12)
    plt.ylabel("Frequency", fontsize=12)
    if save_filename:
        plt.savefig(save_filename, bbox_inches="tight")
    if show:
        plt.show()

In [3]:
df = read_dataset(file_path)
assert type(df) is pd.DataFrame

In [4]:
summary, mean_values, median_values, std_dev = generate_summary_statistics(df)
summary

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

In [5]:
for column in summary.columns:
    #print(summary.loc["mean",column],mean_values[column])
    assert summary.loc["mean",column] == mean_values[column]
    assert summary.loc["std",column] == std_dev[column]

In [6]:
lst= summary.columns
create_save_visualization(df,lst[0],show=False)

NameError: name 'sns' is not defined

In [ ]:
create_save_visualization(df,lst[1],show=False)

In [ ]:
create_save_visualization(df,lst[2],show=False)

In [ ]:
create_save_visualization(df,lst[3],show=False)

In [ ]:
create_save_visualization(df,lst[4],show=False)

In [ ]:
create_save_visualization(df,lst[5],show=False)